# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# macOS junk
.DS_Store

# Model files
models/*.pkl
models/*.png

# Processed data
data/processed/

# Raw dataset (optional but recommended)
data/raw/*.csv

# VSCode settings
.vscode/
